<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="compositFile">
            <h2><span jhiTranslate="dassuGatewayApp.dassuCoreCompositFile.detail.title">Composit File</span> {{ compositFile.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="dassuGatewayApp.dassuCoreCompositFile.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'dassuGatewayApp.ProcessingStatus.' + compositFile.status }}">{{ compositFile.status }}</span>
                </dd>
                <dt><span jhiTranslate="dassuGatewayApp.dassuCoreCompositFile.binaryFile">Binary File</span></dt>
                <dd>
                    <div *ngIf="compositFile.binaryFile">
                        <a [routerLink]="['/binary-file', compositFile.binaryFile?.id, 'view']">{{ compositFile.binaryFile?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="dassuGatewayApp.dassuCoreCompositFile.fileCategory">File Category</span></dt>
                <dd>
                    <div *ngIf="compositFile.fileCategory">
                        <a [routerLink]="['/file-category', compositFile.fileCategory?.id, 'view']">{{ compositFile.fileCategory?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/composit-file', compositFile.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
