<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-composit-file-heading" jhiTranslate="dassuGatewayApp.dassuCoreCompositFile.home.createOrEditLabel">Create or edit a Composit File</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dassuGatewayApp.dassuCoreCompositFile.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="CREATED">{{ 'dassuGatewayApp.ProcessingStatus.CREATED' | translate }}</option>
                        <option value="PROCESSING">{{ 'dassuGatewayApp.ProcessingStatus.PROCESSING' | translate }}</option>
                        <option value="PARSED">{{ 'dassuGatewayApp.ProcessingStatus.PARSED' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dassuGatewayApp.dassuCoreCompositFile.binaryFile" for="field_binaryFile">Binary File</label>
                    <select class="form-control" id="field_binaryFile" name="binaryFile" formControlName="binaryFile">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="binaryFileOption.id === editForm.get('binaryFile')!.value?.id ? editForm.get('binaryFile')!.value : binaryFileOption" *ngFor="let binaryFileOption of binaryfiles; trackBy: trackById">{{ binaryFileOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dassuGatewayApp.dassuCoreCompositFile.fileCategory" for="field_fileCategory">File Category</label>
                    <select class="form-control" id="field_fileCategory" name="fileCategory" formControlName="fileCategory">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="fileCategoryOption.id === editForm.get('fileCategory')!.value?.id ? editForm.get('fileCategory')!.value : fileCategoryOption" *ngFor="let fileCategoryOption of filecategories; trackBy: trackById">{{ fileCategoryOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
