<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="metric">
            <h2><span jhiTranslate="dassuGatewayApp.dassuCoreMetric.detail.title">Metric</span> {{ metric.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="dassuGatewayApp.dassuCoreMetric.key">Key</span></dt>
                <dd>
                    <span>{{ metric.key }}</span>
                </dd>
                <dt><span jhiTranslate="dassuGatewayApp.dassuCoreMetric.value">Value</span></dt>
                <dd>
                    <span>{{ metric.value }}</span>
                </dd>
                <dt><span jhiTranslate="dassuGatewayApp.dassuCoreMetric.metricType">Metric Type</span></dt>
                <dd>
                    <div *ngIf="metric.metricType">
                        <a [routerLink]="['/metric-type', metric.metricType?.id, 'view']">{{ metric.metricType?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/metric', metric.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
