<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-metric-heading" jhiTranslate="dassuGatewayApp.dassuCoreMetric.home.createOrEditLabel">Create or edit a Metric</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dassuGatewayApp.dassuCoreMetric.key" for="field_key">Key</label>
                    <input type="text" class="form-control" name="key" id="field_key"
                           formControlName="key"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dassuGatewayApp.dassuCoreMetric.value" for="field_value">Value</label>
                    <input type="number" class="form-control" name="value" id="field_value"
                           formControlName="value"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dassuGatewayApp.dassuCoreMetric.metricType" for="field_metricType">Metric Type</label>
                    <select class="form-control" id="field_metricType" name="metricType" formControlName="metricType">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="metricTypeOption.id === editForm.get('metricType')!.value?.id ? editForm.get('metricType')!.value : metricTypeOption" *ngFor="let metricTypeOption of metrictypes; trackBy: trackById">{{ metricTypeOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
