<div>
    <h2 id="page-heading">
        <span jhiTranslate="dassuGatewayApp.dassuCoreFileCategory.home.title">File Categories</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-file-category" [routerLink]="['/file-category/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="dassuGatewayApp.dassuCoreFileCategory.home.createLabel">
            Create a new File Category
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="fileCategories?.length === 0">
        <span jhiTranslate="dassuGatewayApp.dassuCoreFileCategory.home.notFound">No fileCategories found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="fileCategories && fileCategories.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="dassuGatewayApp.dassuCoreFileCategory.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="dassuGatewayApp.dassuCoreFileCategory.description">Description</span></th>
                    <th scope="col" ><span jhiTranslate="dassuGatewayApp.dassuCoreFileCategory.metric">Metric</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fileCategory of fileCategories ;trackBy: trackId">
                    <td><a [routerLink]="['/file-category', fileCategory.id, 'view']">{{ fileCategory.id }}</a></td>
                    <td>{{ fileCategory.name }}</td>
                    <td>{{ fileCategory.description }}</td>
                    <td>
                        <div *ngIf="fileCategory.metric">
                            <a [routerLink]="['/metric', fileCategory.metric?.id, 'view']" >{{ fileCategory.metric?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/file-category', fileCategory.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/file-category', fileCategory.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(fileCategory)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
