<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fileCategory">
            <h2><span jhiTranslate="dassuGatewayApp.dassuCoreFileCategory.detail.title">File Category</span> {{ fileCategory.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="dassuGatewayApp.dassuCoreFileCategory.name">Name</span></dt>
                <dd>
                    <span>{{ fileCategory.name }}</span>
                </dd>
                <dt><span jhiTranslate="dassuGatewayApp.dassuCoreFileCategory.description">Description</span></dt>
                <dd>
                    <span>{{ fileCategory.description }}</span>
                </dd>
                <dt><span jhiTranslate="dassuGatewayApp.dassuCoreFileCategory.metric">Metric</span></dt>
                <dd>
                    <div *ngIf="fileCategory.metric">
                        <a [routerLink]="['/metric', fileCategory.metric?.id, 'view']">{{ fileCategory.metric?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/file-category', fileCategory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
