<div nz-row>
    <div nz-col nzSpan="12">
        form
    </div>
    <div nz-col nzSpan="12" style="overflow: hidden">
        <nz-pagination [nzPageIndex]="currentPage" [nzTotal]="data.length" [nzPageSize]="1" (nzPageIndexChange)="drawPage($event)"></nz-pagination>
        <div class="canvasContainer">
            <div #canvas width="800" height="1400"></div>
        </div>
    </div>
</div>
