<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-file-category-field-value-heading" jhiTranslate="dassuGatewayApp.dassuCoreFileCategoryFieldValue.home.createOrEditLabel">Create or edit a File Category Field Value</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dassuGatewayApp.dassuCoreFileCategoryFieldValue.value" for="field_value">Value</label>
                    <input type="text" class="form-control" name="value" id="field_value"
                           formControlName="value"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dassuGatewayApp.dassuCoreFileCategoryFieldValue.compositFile" for="field_compositFile">Composit File</label>
                    <select class="form-control" id="field_compositFile" name="compositFile" formControlName="compositFile">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="compositFileOption.id === editForm.get('compositFile')!.value?.id ? editForm.get('compositFile')!.value : compositFileOption" *ngFor="let compositFileOption of compositfiles; trackBy: trackById">{{ compositFileOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dassuGatewayApp.dassuCoreFileCategoryFieldValue.fileCategoryField" for="field_fileCategoryField">File Category Field</label>
                    <select class="form-control" id="field_fileCategoryField" name="fileCategoryField" formControlName="fileCategoryField">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="fileCategoryFieldOption.id === editForm.get('fileCategoryField')!.value?.id ? editForm.get('fileCategoryField')!.value : fileCategoryFieldOption" *ngFor="let fileCategoryFieldOption of filecategoryfields; trackBy: trackById">{{ fileCategoryFieldOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dassuGatewayApp.dassuCoreFileCategoryFieldValue.metric" for="field_metric">Metric</label>
                    <select class="form-control" id="field_metric" name="metric" formControlName="metric">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="metricOption.id === editForm.get('metric')!.value?.id ? editForm.get('metric')!.value : metricOption" *ngFor="let metricOption of metrics; trackBy: trackById">{{ metricOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
