<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fileCategoryField">
            <h2><span jhiTranslate="dassuGatewayApp.dassuCoreFileCategoryField.detail.title">File Category Field</span> {{ fileCategoryField.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="dassuGatewayApp.dassuCoreFileCategoryField.name">Name</span></dt>
                <dd>
                    <span>{{ fileCategoryField.name }}</span>
                </dd>
                <dt><span jhiTranslate="dassuGatewayApp.dassuCoreFileCategoryField.meta">Meta</span></dt>
                <dd>
                    <span>{{ fileCategoryField.meta }}</span>
                </dd>
                <dt><span jhiTranslate="dassuGatewayApp.dassuCoreFileCategoryField.fileCategory">File Category</span></dt>
                <dd>
                    <span *ngFor="let fileCategory of fileCategoryField.fileCategories; let last = last">
                        <a [routerLink]="['/file-category', fileCategory?.id, 'view']">{{ fileCategory.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/file-category-field', fileCategoryField.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
