<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-file-category-field-heading" jhiTranslate="dassuGatewayApp.dassuCoreFileCategoryField.home.createOrEditLabel">Create or edit a File Category Field</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dassuGatewayApp.dassuCoreFileCategoryField.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dassuGatewayApp.dassuCoreFileCategoryField.meta" for="field_meta">Meta</label>
                    <input type="text" class="form-control" name="meta" id="field_meta"
                           formControlName="meta"/>
                </div>

                <div class="form-group">
                    <label jhiTranslate="dassuGatewayApp.dassuCoreFileCategoryField.fileCategory" for="field_fileCategories">File Category</label>
                    <select class="form-control" id="field_fileCategories" multiple name="fileCategories" formControlName="fileCategories">
                        <option [ngValue]="getSelected(editForm.get('fileCategories')!.value, fileCategoryOption)" *ngFor="let fileCategoryOption of filecategories; trackBy: trackById">{{ fileCategoryOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
