<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-binary-file-heading" jhiTranslate="dassuGatewayApp.dassuCoreBinaryFile.home.createOrEditLabel">Create or edit a Binary File</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dassuGatewayApp.dassuCoreBinaryFile.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dassuGatewayApp.dassuCoreBinaryFile.version" for="field_version">Version</label>
                    <input type="number" class="form-control" name="version" id="field_version"
                           formControlName="version"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dassuGatewayApp.dassuCoreBinaryFile.storageFilePath" for="field_storageFilePath">Storage File Path</label>
                    <input type="text" class="form-control" name="storageFilePath" id="field_storageFilePath"
                           formControlName="storageFilePath"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dassuGatewayApp.dassuCoreBinaryFile.md5" for="field_md5">Md 5</label>
                    <input type="text" class="form-control" name="md5" id="field_md5"
                           formControlName="md5"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dassuGatewayApp.dassuCoreBinaryFile.storageType" for="field_storageType">Storage Type</label>
                    <select class="form-control" name="storageType" formControlName="storageType" id="field_storageType">
                        <option value="LOCAL">{{ 'dassuGatewayApp.StorageType.LOCAL' | translate }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
