<div>
    <h2 id="page-heading">
        <span jhiTranslate="dassuGatewayApp.dassuCoreBinaryFile.home.title">Binary Files</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-binary-file" [routerLink]="['/binary-file/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="dassuGatewayApp.dassuCoreBinaryFile.home.createLabel">
            Create a new Binary File
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="binaryFiles?.length === 0">
        <span jhiTranslate="dassuGatewayApp.dassuCoreBinaryFile.home.notFound">No binaryFiles found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="binaryFiles && binaryFiles.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="dassuGatewayApp.dassuCoreBinaryFile.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="dassuGatewayApp.dassuCoreBinaryFile.version">Version</span></th>
                    <th scope="col" ><span jhiTranslate="dassuGatewayApp.dassuCoreBinaryFile.storageFilePath">Storage File Path</span></th>
                    <th scope="col" ><span jhiTranslate="dassuGatewayApp.dassuCoreBinaryFile.md5">Md 5</span></th>
                    <th scope="col" ><span jhiTranslate="dassuGatewayApp.dassuCoreBinaryFile.storageType">Storage Type</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let binaryFile of binaryFiles ;trackBy: trackId">
                    <td><a [routerLink]="['/binary-file', binaryFile.id, 'view']">{{ binaryFile.id }}</a></td>
                    <td>{{ binaryFile.name }}</td>
                    <td>{{ binaryFile.version }}</td>
                    <td>{{ binaryFile.storageFilePath }}</td>
                    <td>{{ binaryFile.md5 }}</td>
                    <td jhiTranslate="{{ 'dassuGatewayApp.StorageType.' + binaryFile.storageType }}">{{ binaryFile.storageType }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/binary-file', binaryFile.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/binary-file', binaryFile.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(binaryFile)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
