<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="atomicFile">
            <h2><span jhiTranslate="dassuGatewayApp.dassuCoreAtomicFile.detail.title">Atomic File</span> {{ atomicFile.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="dassuGatewayApp.dassuCoreAtomicFile.annotatedData">Annotated Data</span></dt>
                <dd>
                    <span>{{ atomicFile.annotatedData }}</span>
                </dd>
                <dt><span jhiTranslate="dassuGatewayApp.dassuCoreAtomicFile.annotatedText">Annotated Text</span></dt>
                <dd>
                    <span>{{ atomicFile.annotatedText }}</span>
                </dd>
                <dt><span jhiTranslate="dassuGatewayApp.dassuCoreAtomicFile.binaryFile">Binary File</span></dt>
                <dd>
                    <div *ngIf="atomicFile.binaryFile">
                        <a [routerLink]="['/binary-file', atomicFile.binaryFile?.id, 'view']">{{ atomicFile.binaryFile?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="dassuGatewayApp.dassuCoreAtomicFile.parent">Parent</span></dt>
                <dd>
                    <div *ngIf="atomicFile.parent">
                        <a [routerLink]="['/composit-file', atomicFile.parent?.id, 'view']">{{ atomicFile.parent?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/atomic-file', atomicFile.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
