<div>
    <h2 id="page-heading">
        <span jhiTranslate="dassuGatewayApp.dassuCoreAtomicFile.home.title">Atomic Files</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-atomic-file" [routerLink]="['/atomic-file/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="dassuGatewayApp.dassuCoreAtomicFile.home.createLabel">
            Create a new Atomic File
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="atomicFiles?.length === 0">
        <span jhiTranslate="dassuGatewayApp.dassuCoreAtomicFile.home.notFound">No atomicFiles found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="atomicFiles && atomicFiles.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="dassuGatewayApp.dassuCoreAtomicFile.annotatedData">Annotated Data</span></th>
                    <th scope="col" ><span jhiTranslate="dassuGatewayApp.dassuCoreAtomicFile.annotatedText">Annotated Text</span></th>
                    <th scope="col" ><span jhiTranslate="dassuGatewayApp.dassuCoreAtomicFile.binaryFile">Binary File</span></th>
                    <th scope="col" ><span jhiTranslate="dassuGatewayApp.dassuCoreAtomicFile.parent">Parent</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let atomicFile of atomicFiles ;trackBy: trackId">
                    <td><a [routerLink]="['/atomic-file', atomicFile.id, 'view']">{{ atomicFile.id }}</a></td>
                    <td>{{ atomicFile.annotatedData }}</td>
                    <td>{{ atomicFile.annotatedText }}</td>
                    <td>
                        <div *ngIf="atomicFile.binaryFile">
                            <a [routerLink]="['/binary-file', atomicFile.binaryFile?.id, 'view']" >{{ atomicFile.binaryFile?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="atomicFile.parent">
                            <a [routerLink]="['/composit-file', atomicFile.parent?.id, 'view']" >{{ atomicFile.parent?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/atomic-file', atomicFile.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/atomic-file', atomicFile.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(atomicFile)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
