<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-atomic-file-heading" jhiTranslate="dassuGatewayApp.dassuCoreAtomicFile.home.createOrEditLabel">Create or edit a Atomic File</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dassuGatewayApp.dassuCoreAtomicFile.annotatedData" for="field_annotatedData">Annotated Data</label>
                    <input type="text" class="form-control" name="annotatedData" id="field_annotatedData"
                           formControlName="annotatedData"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dassuGatewayApp.dassuCoreAtomicFile.annotatedText" for="field_annotatedText">Annotated Text</label>
                    <input type="text" class="form-control" name="annotatedText" id="field_annotatedText"
                           formControlName="annotatedText"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dassuGatewayApp.dassuCoreAtomicFile.binaryFile" for="field_binaryFile">Binary File</label>
                    <select class="form-control" id="field_binaryFile" name="binaryFile" formControlName="binaryFile">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="binaryFileOption.id === editForm.get('binaryFile')!.value?.id ? editForm.get('binaryFile')!.value : binaryFileOption" *ngFor="let binaryFileOption of binaryfiles; trackBy: trackById">{{ binaryFileOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dassuGatewayApp.dassuCoreAtomicFile.parent" for="field_parent">Parent</label>
                    <select class="form-control" id="field_parent" name="parent" formControlName="parent">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="compositFileOption.id === editForm.get('parent')!.value?.id ? editForm.get('parent')!.value : compositFileOption" *ngFor="let compositFileOption of compositfiles; trackBy: trackById">{{ compositFileOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
